html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('./images/SEVEN-Alt-no-logo.jpg');
  background-position: 35% 35%;
}

img {

}


.main-section {
  height: 100%;
  width: 100%;
  font-family: 'IM Fell DW Pica', serif;
  color: #aaa;
}


.info div {
  display: none;
}

.main-section h1 {
  font-size: 2em;
}

.main-section a {
  color: inherit;
}

.main-section a:hover {
  color: #5cdff9;
}
.fa {
  cursor: pointer;
}

.tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
}
