body {
  height: 100%;
  width: 100%;
  background: url('./images/SEVEN-Alt-no-logo.jpg');
  background-position: 35% 35%;
}


.main-section {
  font-family: 'IM Fell DW Pica', serif;
}

.main-section h1 {
  font-size: 2em;
}
