html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

img {

}


.main-section {
  height: 100%;
  width: 100%;
  font-family: 'IM Fell DW Pica', serif;
  background: url('./images/SEVEN-Alt-no-logo.jpg');
  background-position: 35% 35%;
}


.main-section h1 {
  font-size: 2em;
}

.main-section a {
  color: inherit;
}
.fa {
  cursor: pointer;
}
